<div class="container">
  <div class="filter">
    <form action="/" method="GET">
      <label>Фильтр</label>
      <input placeholder="Введите название" type="search" name="card_title">
      <label>Город</label>
      <select multiple size="1" name="sity_id">
        <option>Москва</option>
        <option>Санкт-Петербург</option></select>
    </form>

  </div>

  <div class="cards">

    {{#each card}} --}}

    {{!-- {{!-- <div class="card">
      <img src="{{card.img}}">
      <div class="card_title">
        <h3>{{card.title}}</h3>
        <span class="card_price">{{card.price}} руб.</span>
        {{#if @root.klient}}
        <a href="/shop" class="card_button">Корзина</a>
        {{/if}} --}}
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        {{#if @root.klient}}
        <a href="/shop" class="card_button">Корзина</a>
        {{/if}}
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    <div class="card">
      <div
        style="background-image: url(https://hobbygames.cdnvideo.ru/image/cache/hobbygames_beta/data/Wizarsds_Of_the_Coast/Magic_the_Gathering/GuildsofRavnika/MTG_Guild_of_Ravnica_Display_Eng-209x273.jpg);"
        class="card__image"></div>
      <div class="card_title">
        <h3>MTG. Guilds of Ravnica. Booster Display</h3>
        <span class="card_price"> 15 000 руб.</span>
        <a href="/shop" class="card_button">Корзина</a>
      </div>
    </div>
    {{!-- {{/each}} --}}
  </div>
</div>
