<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!--
  <link rel="stylesheet" href="/styles/bootstrap.css"> --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/styles/style.css">
  <title>magic-the-gathering</title>
</head>

<body>
  <header class="header">
    <div class="wrapper">
      <div class="header__content">
        <h1 class="logo"><a href="/"> Карточная игра Magic: The Gathering</a> </h1>
        <nav>
          <ul class="menu">
            {{#if klient}}
            <li><a href="/account">{{klient.firstname}}</a></li>
            <li><a href="/logout">Выйти</a></li>
             <li><a href="/shop">Корзина</a></li>
            {{else}}
            <li><a href="/registration">Регистрация</a></li>
            <li><a href="/login">Войти</a></li>
            {{/if}}
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>&copy Компания</footer>
</body>

</html>
