<form class="form" action="/login" method="POST">
  <div class="row row--between">
    <label for="login__email" class="label">E-mail:</label>
    <input id="login__email" class="input" name="email" type="email" tabindex="1" placeholder="E-mail" value="{{email}}" required>
  </div>
  <div class="row row--between">
    <label for="login__password" class="label">Пароль:</label>
    <input id="login__password" class="input" name="password" type="password" placeholder="Пароль" tabindex="2" required>
  </div>
  {{#if error}}
  <div class="row">
    <div class="error">{{error}}</div>
  </div>
  {{/if}}
  <div class="row row--right">
    <button id="login__button" class="button" type="submit" tabindex="3">Войти</button>
  </div>
</form>
