<header>
  <div class="header-buttons">
    <div><a href="/reg"><button type="submit">Register</button></div>
    <div><a href="/login"><button type="submit">Login</button></div>
    <div><a href="/cart"><button type="submit">Cart</button></div>
  </div>
</header>

<main></main>

<footer></footer>
