<form class="row g-3">
  <div class="col-12">
    <label for="inputName" class="form-label">Имя</label>
    <input type="text" class="form-control" id="inputName">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Ел.Почта</label>
    <input type="text" class="form-control" id="inputPassword4" placeholder="бибаибоба">
  </div>
  <div class="col-md-6">
    <label for="inputPassword" class="form-label">Пароль</label>
    <input type="text" class="form-control" id="inputPassword" placeholder="гачимучи">
  </div>
  <div class="col-md-4">
    <label for="inputCity" class="form-label">Город</label>
    <select id="inputCity" class="form-select">
      <option selected>Выберите...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </div>
</form>