<div class="container">
  <p>Корзина</p>
  <div class="filter">
    <div class="card">
      <div
        style="background-image: url();"
        class="card__image"></div>
      <div class="card_title">
        <h3>...............................</h3>
        <span class="card_price">  руб.</span>
        <p class="card_button">Купить</p>
      </div>
    </div>
  </div>

  
  </div>
</div>
